.icons {
  text-align: center;
}

.icons a{
  text-decoration: none;
  margin-right: 20px;
}

.fa-solid.fa-house.fa-5x {
  color: grey;
}

.fa-brands.fa-twitter.fa-5x {
  color: rgb(42, 120, 209);
}

.fa-brands.fa-youtube.fa-5x {
  color: red;
}

.fa-brands.fa-tiktok.fa-5x {
  color: black;
}